{% if app.session.flashBag is defined %}
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
    {% for alertType in alertTypeAvaillable %}
        {%- for alert in app.session.flashBag.get(alertType) %}
        <div class="alert alert-{{ alertType }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ alert|trans }}
        </div>
        {% endfor %}
    {% endfor %}
{% endif %}